.collection-container-wrapper {
  margin: 20px;
}

.collection-container {
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
  border-radius: 5px;
  background-color: #e0d8cf;
}

.collection-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: black;
  transition: opacity 0.8s ease;
  padding: 15px;
  border-radius: 5px;
}

.collection-info:hover {
  opacity: 0.7;
}

.first-col {
  width: 70%;
}

.second-col {
  width: 30%;
  padding-left: 35px;
}

.collection-name,
.collection-description,
.collection-items,
.see-col-btn {
  width: fit-content;
  margin: auto;
}

.collection-name {
  font-family: 'Oswald';
  color: #e0d8cf;
  font-weight: lighter;
  font-size: 2.2em;
  margin-bottom: 10px;
}

.collection-description {
  font-family: 'Oswald';
  letter-spacing: 1px;
  color: #e0d8cf;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.collection-items {
  font-family: 'Roboto';
  color: #e0d8cf;
  font-size: 1.2em;
}

.items-available {
  font-size: 2.5em;
  font-style: normal;
  font-family: 'Roboto';
  margin-right: 5px;
}

.items-available__wrapper {

}

.available-label {
  font-size: 0.9em;
  font-family: 'Roboto';
  float:right !important;
}

.see-col-btn {
  border: none;
  padding: 10px;
  background-color: #444444;
  color: #d2c7bc;
  font-family: 'Raleway';
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 1.5px;
  font-weight: 900;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.see-col-btn:hover {
  background-color: #636262;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .collection-container-wrapper {
    margin: 10px 0;
  }

  .collection-container {
    width: 100vw;
    height: 50vh;
    border-radius: 0px;
  }

  .collection-info {
    border-radius: 0px;
  }

  .collection-description {
    margin-bottom: 20px;
  }

  .collection-info {
    opacity: 0.6;
    flex-direction: column;
  }

  .items-available__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .items-available {
    margin-right: 12px;
  }

  .first-col {
    width: 90vw;
  }

  .second-col {
    padding-left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .collection-container {
    width: 40vw;
    height: 43vh;
  }

  .collection-info {
    opacity: 0;
    flex-direction: row;
  }
}
