.no-collection {
  font-family: 'OSWALD';
  font-size: 1.6em;
  text-align: center;
  margin-top: 25vh;
  letter-spacing: 1.5px;
  color: #c7bcb1;
}

@media screen and (max-width: 767px) {
  .no-collection {
    margin-top: 15vh;
  }
}

@media screen and (min-width: 768px) {

}
