.toaster {
  position: fixed;
  top: 30px;
  right: -300px;
  background-color: #444444;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  color: #c7bcb1;
  font-family: 'Roboto';
  font-size: 0.85em;
  letter-spacing: 1px;
  transition: right 0.5s ease;
  height: fit-content;
  z-index: 40;
}

.toaster-slide-up {
  right: 30px;
  transition: right 0.5s ease;
}

.toaster-icon {
  margin-right: 8px;
}
